@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('./list.css');

:root{
    --primary-background : #E5E7EB;
    --secondary-background : #cbf0f8;
    --pastel-blue: #9ad0ec;
    --primary-text : #323130;
    --secondary-text : #64748b;
    --tw-text-opacity  : 1;
    --blue : rgb(37, 100, 207);
    --secondary-blue : #0078d4;
    --secondary-white : #976b1f;
    --primary-white : #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
html {
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    background-color: #e5ebef;
    /* color: rgb(100 116 139/var(--tw-text-opacity)); */
    color: var(--secondary-text);
}

.navbar{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-white);
    position: fixed;
    /* width: 100%; */
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    filter: drop-shadow(0 2px 2px rgb(0 0 0 /20%));
}
.header{
    background-color: var(--primary-white);
    color: var(--blue);
    font-weight: 500;
    font-size: larger;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.header a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    font-family: "Pacifico", cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.white { 
    color: var(--primary-background);
}
.pad-25-lr{
    padding: 0 0.25rem;
}
.flex-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.task-container{
    width: 80%;
    background-color: var(--primary-white);
    color: var(--primary-text);

    padding: 0.5rem;
    border-radius: 0.2rem;
    filter: drop-shadow(0 3px 5px rgb(0 0 0 / 20%));
    margin-top: 1rem;
}
.button{
    outline: 1px solid transparent;
    border : 0.125rem solid transparent;
    border-radius: 0.125rem;
    background-color: var(--primary-white);
    color: var(--primary-text);
    cursor: pointer;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
}
.button:focus, button:hover{
    outline: 1px solid var(--secondary-blue);
    background-color: var(--primary-white);
}
.primary-button{
    color: var(--blue);
    margin-left: 2px;
}
.button-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.icon_button-container {
    
}
.primary_button-container{

}
.icon-task{
    background-color: var(--secondary-background);
}
.icon-task:hover, .icon-task:focus{
    background-color: var(--secondary-background);
    /* outline: 1px solid var(--); */
}
.input-container::placeholder{
        font-weight: 500;
}
.title-input, .content-area{
    outline: 1px solid transparent;
    border: none;
    /* border: 1px solid var(--blue); */
    font-family: 'Titillium Web', sans-serif;
    padding: 0.75rem 1rem;
    display: block;
    width: 100%;
    resize: none;
}

.toast{
    background-color : var(--primary-text);
    color : var(--primary-background);
    padding: 0.75rem 1rem 0.5rem 1rem;
    border-radius: 0.125rem;
    position: fixed;
    top: 85%;
    left : 10%;
    max-width: 80%;
    right: 10%;
    text-align: left;
    z-index: 10;
    border-bottom: 4px solid var(--blue);
}
.visibility{
    visibility: hidden;
} 
.show{
    visibility: show;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media screen and (min-device-width : 768px) {
    .task-container{
        width: 35%;
    }
    .toast{
        max-width: 30%;
    }
    .navbar{
        margin-bottom: 1rem;
        display: flex;
        color: var(--primary-background);
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top : 0;
        left: 0;
        right: 0;
        /* width: 100%; */
    }
}

@media  screen and (min-device-width : 375px ) and (max-device-width : 425px) {
    .toast{
        max-width: 60%;
    }
}